
openapi: 3.0.0
servers:
  - description: Production
    url: https://cloud.getdbt.com/api/v2
info:
  version: "2.0.0"
  title: dbt Cloud API v2
  termsOfService: 'https://www.getdbt.com/cloud/terms'
  description: |
      The dbt Cloud API makes it possible to fetch data from your
      dbt Cloud account and programmatically run and monitor dbt jobs.

      # How to use this API

      The dbt Cloud API is intended for enqueuing runs from a job, polling for run progress,
      and downloading artifacts after jobs have completed running. Operational endpoints around
      creating, modifying, and deleting _objects_ in dbt Cloud are still in flux. These endpoints
      are largely undocumented in API v2. A new version of the API (v3) is in-progress and will be
      released alongside documentation for creating, modifying, and deleting objects in the future.

      The API docs are generated from an openapi spec defined in the
      [dbt-cloud-openapi-spec](https://github.com/fishtown-analytics/dbt-cloud-openapi-spec)
      repository. If you find issues in these docs or have questions about using the dbt Cloud
      API, please open an issue in the dbt-cloud-openapi-spec repo or contact support@getdbt.com.

      # Authentication

      To authenticate an application with the dbt Cloud API, navigate to the
      API Settings page in your [dbt Cloud profile](https://cloud.getdbt.com/#/profile/api/).
      If you cannot access this page, confirm that your dbt Cloud account has access to the API,
      and that you are using the hosted version of dbt Cloud. If dbt Cloud is running inside of a VPC
      in an Enterprise account, contact your account manager for help finding your API key.

      ## TokenAuth

      Once you've found your API key, use it in the Authorization header of requests to the dbt Cloud API.
      Be sure to include the `Token` prefix in the Authorization header, or the request will fail with a
      "401 Unauthorized" error. Note: `Bearer` can be used in place of `Token` in the Authorization header.
      Both syntaxes are equivalent.

      **Headers**
      ```
      Accept: application/json
      Authorization: Token <your token>
      ```

      ## Example request

      The following example will list the Accounts that your token is authorized to access.
      Be sure to replace `<your token>` in the Authorization header with your actual API token.

      ```
      curl --request GET \
        --url https://cloud.getdbt.com/api/v2/accounts/ \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Token <your token>'
      ```

  contact:
    email: support@getdbt.com
    
tags:
  - name: Accounts
    description: List and view Accounts
  - name: Projects
    description: List, view, and modify Projects
  - name: Jobs
    description: List, view, and modify, and trigger Jobs
  - name: Runs
    description: List and view Runs
  
paths:
  # Accounts
  /accounts/:
    get:
      tags:
        - Accounts
      summary: List Accounts
      description: Use the List Accounts endpoint to list the Accounts that your API Token is authorized to access.
      operationId: listAccounts
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/:
    get:
      tags:
        - Accounts
      summary: Get Account
      description: Get an Account by its ID
      operationId: getAccountById
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account to retrieve
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/projects/:
    get:
      tags:
        - Projects
      summary: List Projects
      description: Use the List Projects endpoint to list the Projects in the specified Account
      operationId: listProjects
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/projects/{projectId}:
    get:
      tags:
        - Projects
      summary: Get Project
      description: Get a Project by its ID
      operationId: getProjectById
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Project to retrieve
        - in: path
          name: projectId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Project to retrieve
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{accountId}/jobs/:
    get:
      tags:
        - Jobs
      summary: List jobs
      description: List jobs in a project
      operationId: listJobsForAccount
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account containing jobs
        - in: query
          name: order_by
          schema:
            type: string
          description: |
            Field to order the result by. Use `-` to indicate reverse order.
        - in: query
          name: project_id
          schema:
            type: integer
          description: |
            Numeric ID of the project containing jobs
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
    post:
      tags:
        - Jobs
      summary: Create job
      description: Create a job in a project. 
      operationId: createJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account to create the new Job in
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/jobs/{jobId}/:
    get:
      tags:
        - Jobs
      summary: Get job
      description: Return job details for a job on an account
      operationId: getJobById
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account containing the job
        - in: path
          name: jobId
          schema:
            type: integer
          required: true
          description: Numeric ID of the job to retrieve
        - in: query
          name: order_by
          schema:
            type: string
          description: |
            Field to order the result by. Use `-` to indicate reverse order.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
    post:
      tags:
        - Jobs
      summary: Update job
      description: Update the definition of an existing job
      operationId: updateJobById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Account that the Job belongs to
        - in: path
          name: jobId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Job to update
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
 
  /accounts/{accountId}/jobs/{jobId}/run/:
    post:
      tags:
        - Jobs
      summary: Trigger job to run
      description: |
        Use this endpoint to kick off a run for a job. When this endpoint returns a successful
        response, a new run will be enqueued for the account. Users can poll the [Get run](#operation/getRunById)
        endpoint to poll the run until it completes. After the run has completed, users can use the [Get run artifact](#operation/getArtifactsByRunId)
        endpoint to download artifacts generated by the run.
      operationId: triggerRun
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - cause
              properties:
                cause:
                  description: A text description of the reason for running this job
                  example: "Kicked off from Airflow"
                  type: string
                git_sha:
                  description: Optional. The git sha to check out before running this job
                  type: string
                git_branch:
                  description: Optional. The git branch to check out before running this job
                  type: string
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Account that the Job belongs to
        - in: path
          name: jobId
          schema:
            type: integer
          required: true
          description: Numeric ID of the Job to run
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/runs/:
    get:
      tags:
        - Runs
      summary: List runs
      operationId: listRunsForAccount
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account to retrieve
        - in: query
          name: include_related
          schema:
            type: string
          required: true
          example: '["trigger", "job", "repository", "environment"]'
          description: |
            List of related fields to pull with the run. Valid values are 
            "trigger", "job", "repository", and "environment".
        - in: query
          name: job_definition_id
          example: 1234
          schema:
            type: integer
          description: Optional. Applies a filter to only return runs from the specified Job.
        - in: query
          name: order_by
          example: "-id"
          schema:
            type: string
          description: |
            Field to order the result by. Use `-` to indicate reverse order.
        - in: query
          name: offset
          example: 100
          schema:
            type: integer
          description: The offset to apply when listing runs. Use with `limit` to paginate results.
        - in: query
          name: limit
          example: 100
          schema:
            type: integer
          description: The limit to apply when listing runs. Use with `offset` to paginate results.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunsResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/runs/{runId}/:
    get:
      tags:
        - Runs
      summary: Get run
      operationId: getRunById
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account to retrieve
        - in: path
          name: runId
          schema:
            type: integer
          required: true
          description: Numeric ID of the run to retrieve
        - in: query
          name: include_related
          schema:
            type: string
          example: '["trigger", "job"]'
          description: |
            List of related fields to pull with the run. Valid values are
            "trigger", "job", and "debug_logs". If "debug_logs" is not provided
            in a request, then the included debug logs will be truncated to the last
            1,000 lines of the debug log output file.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
                
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{accountId}/runs/{runId}/artifacts/{path}:
    get:
      tags:
        - Runs
      summary: Get run artifact
      description: |
        Use this endpoint to fetch artifacts from a completed run. Once a run has completed,
        you can use this endpoint to download the `manifest.json`, `run_results.json` or
        `catalog.json` files from dbt Cloud. These _artifacts_ contain information about
        the models in your dbt project, timing information around their execution, and
        a status message indicating the result of the model build.

        **Note:** at present, only the artifacts generated from _the last step in the command list_ will
        be returned from this endpoint. Artifacts produced by any steps other than the last step
        in the run are not available. In the future, a separate endpoint will be provided to download
        artifacts from each job step independently.
      operationId: getArtifactsByRunId
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account to retrieve
        - in: path
          name: runId
          schema:
            type: integer
          required: true
          description: Numeric ID of the run to retrieve
        - in: path
          name: path
          schema:
            type: string
          example: 'manifest.json'
          description: |
            Paths are rooted at the `target/` directory. Use `manifest.json`, `catalog.json`,
            or `run_results.json` to download dbt-generated artifacts for the run.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: string
                description: Raw file contents product by dbt
                example:
                  nodes: {}
                  sources: {}
                  macros: {}
                  docs: {}
                  disabled: []
                  generated_at: "2020-01-01T12:00:00.00000Z"
                  parent_map: {}
                  child_map: {}

        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{accountId}/runs/{runId}/cancel/:
    post:
      tags:
        - Runs
      summary: Cancel a run
      operationId: cancelRunById
      parameters:
        - in: path
          name: accountId
          schema:
            type: integer
          required: true
          description: Numeric ID of the account for this run
        - in: path
          name: runId
          schema:
            type: integer
          required: true
          description: Numeric ID of the run to cancel
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResponse'
                
        '404':
          description: Unauthorized or Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: "integer"
          description: A unique identifier for dbt Cloud accounts
          example: 1
        name:
          type: "string"
          description: The name of the dbt Cloud account
        plan:
          type: "string"
          enum: ["developer", "team", "enterprise"]
          example: team
          description: The billing tier for the account
        pending_cancel:
          type: "boolean"
          example: False
          description: True if the account is pending cancellation
        state:
          type: "integer"
          example: 1
          description: 1 = Active, 2 = Deleted
        developer_seats:
          type: "integer"
          example: 5
          description: The number of Developer Licenses assigned to the account
        read_only_seats:
          type: "integer"
          example: 50
          description: The number of Read Only Licenses assigned to the account
        run_slots:
          type: "integer"
          example: 5
          description: The number of Run Slots assigned to the account
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
    Project:
      type: object
      properties:
        id:
          type: integer
          description: A unique identifier for a project
          example: 100
        account_id:
          type: integer
          example: 1
        connection:
          $ref: '#/components/schemas/Connection'
        connection_id:
          type: integer
          example: 5000
        dbt_project_subdirectory:
          type: [null, integer]
          description: Optional. The path in the attached repository where a dbt project can be found
          example: analytics/dbt-models
        name:
          type: string
          description: A name for the project
          example: Analytics
        repository:
          $ref: '#/components/schemas/Repository'
        repository_id:
          type: integer
          example: 6000
        state:
          type: integer
          description: 1 = active, 2 = deleted
          example: 1
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
    Connection:
      type: object

    BigqueryCredential:
      type: "object"
      properties:
        id:
          type: integer
          description: "Leave blank when creating a BigqueryCredential object"
        account_id:
          type: integer
          description: "The account id to create the BigqueryCredential in"
        type:
          type: string
          description: "The database type (for BigqueryCredentials, use \"bigquery\")"
        state:
          type: integer
          description: "The state of the BigqueryCredential (1 = present, 2 = deleted)"
        schema:
          type: string
          description: "The schema (dataset) for this BigqueryCredential object"
    BigqueryConnection:
      type: "object"
      properties:
        id:
          type: "integer"
        account_id:
          type: "integer"
        created_by_id:
          type: "integer"
          description: "User ID who created the connection"
        name: 
          type: "string"
        type:
          type: "string"
          enum: ["postgres", "redshift", "snowflake", "bigquery"]
        state:
          type: "integer"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        project_id:
          type: "string"
          description: "Google BigQuery project ID"
        timeout_seconds:
          type: "integer"
        private_key_id:
          type: "string"
        private_key:
          type: "string"
        client_email:
          type: "string"
        client_id:
          type: "string"
        auth_uri:
          type: "string"
        token_uri:
          type: "string"
        auth_provider_x509_cert_url:
          type: "string"
        client_x509_cert_url:
          type: "string"
    Environment:
      type: object
      properties:
        id:
          type: "integer"
          description: A unique identifier for an environment
          example: 10
        account_id:
          type: "integer"
          example: 1
        deploy_key_id:
          type: "integer"
        created_by_id:
          type: "integer"
        repository_id:
          type: "integer"
        name:
          type: "string"
          description: A name for the environment
        dbt_version:
          type: "string"
          description: The default dbt version for jobs in this environment
          example: 0.17.0
        use_custom_branch:
          type: "boolean"
          example: True
          description: If set, use the custom_branch field when cloning and running jobs in this environment
        custom_branch: 
          type: "string"
          example: develop
        supports_docs: 
          type: "boolean"
          description: dbt Cloud-generated / read only field
        state:
          type: "integer"
          description: 1 = active, 2 = deleted
          example: 1
    Job:
      type: "object"
      required:
        - account_id
        - project_id
        - environment_id
        - name
        - execute_steps
      properties:
        account_id:
          type: "integer"
          example: 1
        project_id:
          type: "integer"
          example: 100
        environment_id:
          type: "integer"
          example: 10
        name:
          type: "string"
          description: A name for the job
          example: Nightly run
        dbt_version:
          type: ["string", null]
          description: Overrides the dbt_version specified on the attached Environment if provided
          example: 0.17.1
        triggers:
          type: "object"
          properties:
            github_webhook:
              type: "boolean"
            schedule:
              type: "boolean"
            custom_branch_only:
              type: "boolean"
        execute_steps:
          type: "array"
          example: ['dbt run', 'dbt test', 'dbt source snapshot-freshness']
          items:
            type: "string"
        settings:
          type: "object"
          properties:
            threads:
              type: "integer"
              example: 4
              description: The maximum number of models to run in parallel in a single dbt run
            target_name:
              example: prod
              description: Informational field that can be consumed in dbt project code with `{{ target.name }}`
              type: "string"
        state:
          type: "integer"
          example: 1
          description: 1 = active, 2 = deleted
        generate_docs:
          type: "boolean"
          example: True
          description: When true, run a `dbt docs generate` step at the end of runs triggered from this job
        schedule:
          type: "object"
          properties:
            cron:
              type: string
              description: Cron-syntax schedule for the job
              example: "0 7 * * 1"
            date:
              type: "object"
              properties:
                type:
                  type: "string"
                  enum: ["every_day", "days_of_week", "custom_cron"]
            time:
              type: "object"
              properties:
                type:
                  type: "string"
                  enum: ["every_hour", "at_exact_hours"]
                  
    Repository:
      type: object
      properties:
        id:
          type: "integer"
          description: A unique identifier for the Repository
          example: 200
        account_id:
          type: "integer"
          example: 1
        remote_url:
          type: "string"
          description: The git clone URL for the repository
          example: "git@github.com:fishtown-analytics/jaffle_shop.git"
        remote_backend:
          type: "string"
        git_clone_strategy:
          type: "string"
        deploy_key_id:
          type: "integer"
        github_installation_id:
          type: "integer"
        state:
          type: "integer"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
          
    Run:
      type: object
      properties:
        id:
          type: "integer"
          description: Unique identifier for a run
          example: 10000
        trigger_id:
          type: "integer"
        account_id:
          type: "integer"
          example: 1
        project_id:
          type: "integer"
          example: 100
        job_definition_id:
          type: "integer"
        status:
          type: "integer"
          enum: [1,2,3,10,20,30]
          description: |
            A numeric representation of the job status
            1: Queued
            2: Starting
            3: Running
            10: Success
            20: Error
            30: Cancelled
        git_branch:
          type: "string"
          example: develop
          description: Optional. If provided, check out this branch or tag before running the job.
        git_sha:
          type: "string"
          example: "#abcd123"
          description: Optional. If provided, check out this sha before running the job.
        status_message:
          type: "string"
          example: Success
        dbt_version:
          type: "string"
          example: 0.17.0
        created_at:
          type: "string"
          format: "date-time"
          description: When the run was initially created (either via the scheduler or via an API request / webhook)
        updated_at:
          type: "string"
          format: "date-time"
        dequeued_at:
          type: "string"
          format: "date-time"
          description: When the run was picked up by a processor node
        started_at:
          type: "string"
          format: "date-time"
          description: When processing of the node actually began
        finished_at:
          type: "string"
          format: "date-time"
          description: When the run completed execution
        last_checked_at:
          type: "string"
          format: "date-time"
        last_heartbeat_at:
          type: "string"
          format: "date-time"
        owner_thread_id:
          type: "string"
        executed_by_thread_id:
          type: "string"
        artifacts_saved:
          type: "boolean"
        artifacts_s3_path:
          type: "string"
        has_docs_generated:
          type: "boolean"
        trigger:
          $ref: '#/components/schemas/Trigger'
        job:
          $ref: '#/components/schemas/Job'
          
        duration:
          type: "string"
        queued_duration:
          type: "string"
        run_duration:
          type: "string"
        duration_humanized:
          type: "string"
        queued_duration_humanized:
          type: "string"
        run_duration_humanized:
          type: "string"
        status_humanized:
          type: "string"
          enum: ["Queued", "Starting", "Running", "Success", "Error", "Cancelled"]
        created_at_humanized:
          type: "string"
    Trigger:
      type: "object"
      properties:
        id:
          type: "integer"
        cause:
          type: "string"
        job_definition_id:
          type: "integer"
        git_branch:
          type: "string"
        git_sha:
          type: "string"
        github_pull_request_id:
          type: "integer"
        schema_override:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
          
    # responses
    AccountsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Account"
        status:
          $ref: "#/components/schemas/Status"
    AccountResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Account"
        status:
          $ref: "#/components/schemas/Status"
    ProjectsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Project"
        status:
          $ref: "#/components/schemas/Status"
    ProjectResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Project"
        status:
          $ref: "#/components/schemas/Status"
    ConnectionsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Connection"
        status:
          $ref: "#/components/schemas/Status"
    CredentialsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/BigqueryCredential"
        status:
          $ref: "#/components/schemas/Status"
    ConnectionResponse:
      type: "object"
      properties:
        data:
          oneOf:
            - $ref: "#/components/schemas/Connection"
            - $ref: "#/components/schemas/BigqueryConnection"
        status:
          $ref: "#/components/schemas/Status"
    EnvironmentsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Environment"
        status:
          $ref: "#/components/schemas/Status"
    EnvironmentResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Environment"
        status:
          $ref: "#/components/schemas/Status"
    JobsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Job"
        status:
          $ref: "#/components/schemas/Status"
    JobResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Job"
        status:
          $ref: "#/components/schemas/Status"
    RepositoriesResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Repository"
        status:
          $ref: "#/components/schemas/Status"
    RepositoryResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Repository"
        status:
          $ref: "#/components/schemas/Status"
    RunsResponse:
      type: "object"
      properties:
        data:
          type: "array"
          items: 
            $ref: "#/components/schemas/Run"
        status:
          $ref: "#/components/schemas/Status"
    RunResponse:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/Run"
        status:
          $ref: "#/components/schemas/Status"
    ErrorResponse:
      type: "object"
      properties:
        status:
          $ref: "#/components/schemas/Status"
    Status:
      type: "object"
      properties:
        code:
          type: "integer"
          description: "Same as the HTTP status code returned."
          example: 200
        is_success:
          type: "boolean"
          description: "Whether or not the request succeeded."
        user_message:
          type: "string"
          description: "End-user-friendly description of the response."
        developer_message:
          type: "string"
          description: "Technical description of the response."
          
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
      bearerFormat: "Bearer <Token>"

security:
  - TokenAuth: []
